<div class="jumbotron">
  <h1>Blocitoff <small>self-destructing to-do application</small></h1>

  <h3>
    You can sign in with your
    <%= link_to '/auth/google_oauth2' do %>
      <%= image_tag "http://github.com/intridea/authbuttons/raw/master/png/google_64.png" %>
      Google
    <% end %>
    account
  </h3>
</div>
